.container{
    display: flex;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
}
.day{
    width: 100%;
    min-height: calc((16px * 21) + (3 * 1.5rem));
}
.recreo{
    background-color: grey;
}
.li{
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
    width: 100%;
    
}
.ul{
    display: grid;
    column-gap: 0;
    row-gap: 0;
    justify-items: start;
    align-items: start;
    justify-content: stretch;
    align-content: stretch;
    grid-template-rows: 1.5rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.course{
    border-left: 1px solid black;
    cursor: pointer;
    width: 36px;
    height: 100%;
    text-overflow: "";
    max-height: calc(8em + 0.1em * 4);
    overflow: hidden;
    z-index: 1;
}
.management{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.textScanner {
    padding: 10px;
    resize: none;
}

.cardElement{
    width: 100%;
    margin-left: 5px;
}
.buttonElem{
    width: 100% !important;
}
.courseData{
    margin: 0;
    padding: 0;
    word-break: break-all;
    line-height: 1.1em;
    color: rgb(255, 255, 255);
}
.courseData:nth-child(2){
    color: rgb(68, 68, 68);
}
.courseData:nth-child(3){
    color: rgb(0, 0, 0);
}
